<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="pathV1" value="Data/Ordina-v1.txt"/>
		<add key="pathV2" value="Data/Ordina-v2.xml"/>
	</appSettings>
</configuration>