<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="pathV1" value="Data/Ordina-v1.txt"/>
		<add key="pathV2" value="Data/Ordina-v2.xml"/>
		<add key="pathV3" value="Data/Ordina-v3.json"/>
		<add key="basePath" value="Data/{0}"/>
		<add key="admin" value="File1.xml,File2.xml,File3.xml,File4.xml,File1.txt,File2.txt,File1.json,File2.json"/>
		<add key="user" value="File1.xml,File1.txt,File1.json"/>
		<add key="encryptedFile" value="true"/>
	</appSettings>
</configuration>